Options +ExecCGI
AddType text/html .cgi
AddType text/plain .sh
AddType text/plain .t
AddHandler cgi-script .cgi

<files validator>
    ForceType application/x-httpd-perl
</files>  
<files site>
    ForceType application/x-httpd-php
</files>

AddType application/xml xsd
AddType application/x-httpd-imap map

<IfModule mod_autoindex.c>

    # FancyIndexing is whether you want fancy directory indexing or standard
    IndexOptions FancyIndexing IconHeight=16 IconWidth=16  NameWidth=20 DescriptionWidth=30 SuppressHTMLPreamble

    # plain text files
    AddIcon /nexml/html/include/page_white_text.png LICENSE Doxyfile .txt .diz .nfo .faq .readme .me COPYING
    AddDescription "Software license" LICENSE COPYING
    AddDescription "Documentation generator" Doxyfile
    AddDescription "Plain text file" .txt    
    AddDescription "Plain text info" .diz .nfo .faq .readme .me
    
    # cgi related files
    AddIcon /nexml/html/include/script_gear.png .cgi
    AddDescription "Server-side executable" .cgi    
    AddIcon /nexml/html/include/page_white_php.png .php .php3 .php4 .phps
    AddDescription "PHP file" .php .php3 .php4 .phps
    
    # page generation related
    AddIcon /nexml/html/include/layout.png .tmpl  
    AddDescription "Template::Toolkit file" .tmpl
    AddIcon /nexml/html/include/page_white_css.png .css
    AddDescription "Cascading style sheet" .css
    AddIcon /nexml/html/include/page_white_js.png .js
    AddDescription "Javascript" .js    
    
    # XML related files
    AddIcon /nexml/html/include/page_white_code_red.png .xsd 
    AddDescription "XML schema file" .xsd
    AddIcon /nexml/html/include/page_white_code.png .xml .html .htm .shtml .xsl
    AddDescription "XML instance document" .xml
    AddDescription "XML style sheet" .xsl    
    AddDescription "HTML document" .html .htm .shtml
    
    # perl related
    AddIcon /nexml/html/include/page_white_perl.png .pl .PL
    AddDescription "Perl script" .pl .PL
    AddIcon /nexml/html/include/page_white_perlmod.png .pm
    AddDescription "Perl module" .pm
    AddIcon /nexml/html/include/page_white_perltest.png .t
    AddDescription "Perl test" .t
    
    # java related
    AddIcon /nexml/html/include/page_white_cup.png .java
    AddIcon /nexml/html/include/cup.png .class .jar    
    AddDescription "Java code"  .java    
    AddDescription "Java class file"  .class
    AddDescription "Java archive"  .jar    
    
    # shell scripts
    AddIcon /nexml/html/include/script.png .sh .csh .ksh
    AddDescription "Unix shell script" .sh .csh .ksh  
    
    # image types
    AddIcon /nexml/html/include/picture.png .png .gif .jpg .jpeg
    AddDescription "JPEG compressed photo image" .jpg .jpeg
    AddDescription "GIF image" .gif
    AddDescription "Portable network graphic" .png   
    
    # archives
    AddIcon /nexml/html/include/compress.png .bz .bz2 .gz .ace .arj .tar.gz .tgz .rar .Z .z .zip .sit .sitx .tar .hqx
    AddDescription "GZIP compressed tar archive" .tgz .tar.gz
    AddDescription "Tar (tape) archive" .tar 
    AddDescription "GZIP compressed document" .Z .z .gz .zip  
    AddDescription "ZIP compressed document" .zip     
    AddDescription "Highly compressed rar archive" .rar  
    AddDescription "Highly compressed bzip archive" .bz2 .bz   
    AddDescription "Stuffit archive" .sit
    AddDescription "StuffitX archive" .sitx
    AddDescription "Ace compressed archive" .ace
    AddDescription "Arj compressed archive" .arj    
    AddDescription "Mac binhex archive" .hqx

    # documents
    AddIcon /nexml/html/include/page_white_acrobat.png .pdf
    AddDescription "Adobe portable document" .pdf   
    AddIcon /nexml/html/include/page_white_word.png .doc
    AddDescription "Word type document" .doc    
    
    # python related
    AddIcon /nexml/html/include/page_white_python.png .py
    AddDescription "Python script" .py

    # c/c++ related
    AddIcon /nexml/html/include/page_white_c.png .c
    AddIcon /nexml/html/include/page_white_cplusplus.png .cpp
    AddIcon /nexml/html/include/page_white_h.png .h
    AddDescription "C/C++ header file" .h
    AddDescription "C code" .c 
    AddDescription "C++ code" .cpp

    # files without icons
    AddDescription "DocType Definition" .dtd
    AddDescription "Win32 compressed html help" .chm
    AddDescription "Unix man page" .man
    AddDescription "Email data" .eml .mbox
    AddDescription "7-bit uu encoded (news) file" .uu .uue
    AddDescription "OS X clickable shell script" .command
    AddDescription "configuration file" .conf
    AddDescription "Mac OS X terminal" .term
    AddDescription "LaTeX file" .tex
    AddDescription "Core dump" core
    AddDescription "Object file" .o

    AddIconByEncoding (CMP,/nexml/html/include/compress.png) x-compress x-gzip
    AddIconByType (TXT,/nexml/html/include/page_white_text.png) text/**/r />    AddIconByType (IMG,/nexml/html/include/picture.png) image/**/r />    AddIconByType (SND,/icons/small/sound2.gif) audio/**/r />    AddIconByType (VID,/icons/small/movie.gif) video/**/r />
    AddIcon /nexml/html/include/arrow_turn_up.png ..
    AddIcon /icons/small/hand.right.gif README
    AddIcon /nexml/html/include/folder.png ^^DIRECTORY^^
    AddIcon /nexml/html/include/page_white.png ^^BLANKICON^^

    # here's a cool trick!
    # won't work unless you cover every type you intend to serve
    # sort of a catch-all..
    AddDescription "Folder" *
    
    # DefaultIcon is which icon to show for where none is explicitly set.
    DefaultIcon /nexml/html/include/page_white.png

    # headers and footers

    # If MultiViews are amongst the Options in effect, the server will
    # first look for name.html and include it if found.  If name.html
    # doesn't exist, the server will then look for name.txt and include
    # it as plaintext if found.
    #

    ReadmeName /nexml/html/include/footer.cgi
    #HeaderName header

    # you can specify the full name, if you like..

    HeaderName /nexml/html/include/header.cgi

    # better yet, specify a single fixed location. This will cover *all* the subdirectories
    # affected by this .htaccess, and saves you duplicating the same file over and over..

    #HeaderName /inc/header.html

    # note: this can be anywhere onsite, not neccessarily inside the area covered by this file.
    # I personally find a fixed header, and local readme's works best. ymmv.

    #
    # IndexIgnore is a set of filenames which directory indexing should ignore
    # and not include in the listing.  Shell-style wildcarding is permitted.
    #
    IndexIgnore  .??* *~ *# readme.html header.html HEADER README RCS CVS *,v *,t .DS_Store *.log *.cgi *.php /nexml/html/img /nexml/html/include *.js *.css
    
</IfModule>
# End of indexing directives.

