<p>
    This is the root directory of the nexml project. Below this level
    are the trees for the different parsing/binding subprojects (python,
    perl, java, javascript and c++), the source tree of the nexml schema 
    (xsd), document examples and various experiments (xslt, "experimental", soap).
</p>
<p>
	The bootstrap.sh and configure related files (including the config)
    directory found here are used by the configure-based build of the C++ code.
    <% UNLESS hostName %>
    <!--
    <% END %>
    The html folder contains documents about the nexml project, news
    feeds and API documentation.
    <% UNLESS hostName %>
    -->
    <% END %>
</p>

