<h2>Schema files</h2>
<p>The schema consists of the following files:</p>
<ul>
<% FOREACH file = schema.files %>
    <% IF file == currentFile %>
        <li><% paths.transform(file) %></li>
    <% ELSE %>
        <li>~/<a href="<% paths.transform(file) %>"><% paths.transform(file) %></a></li>
    <% END %>
<% END %>
</ul>

<h2>About this file</h2>
<p>
    This page summarizes the contents of schema file "<% currentFile %>"
</p>
<p>
    This file <a href="http://www.w3.org/TR/xmlschema-1/#compound-schema" 
    title="About the xs:include element">includes</a> the following other files:
    <ul>
        <% FOREACH file = schema.includesInFile(currentFile) %>
            <li><a href="<% paths.transform(file) %>"><% paths.transform(file) %></a></li>
        <% END %>
    </ul>
    <% includers = schema.filesIncludingFile(currentFile) %>
    <% IF includers %>
        This file is included in:
        <ul>
            <% FOREACH file = includers %>
                <li>~/<a href="<% paths.transform(file) %>"><% paths.transform(file) %></a></li>
            <% END %>
        </ul>
    <% END %>
</p>