      </div>
      
      <div id="sidebar">
      
        <!-- top-right site navigation menu -->
        <h2 class="quicklinks">
          <a id="quicklinks" name="quicklinks"></a>Quick links:
        </h2>
          <a class="quicklink" href="/nexml/html/doc/schema-1/">Schema 1.0</a>
          <a class="quicklink" href="/nexml/examples">Example files</a>  
          <a class="quicklink" href="/nexml/downloads">Downloads</a>        
        <br />
        <h2 class="sidelink menuheader">
          <a id="sitemenu" name="sitemenu"></a>Bindings:
        </h2>
        
        <a class="sidelink" href="/nexml/java/">Java</a> 
        <span class="hide">|</span>
        
        <a class="sidelink" href="/nexml/python/">Python</a>
        <span class="hide">|</span> 
        
        <a class="sidelink" href="/nexml/perl/">Perl</a> 
        <span class="hide">|</span>
        
        <br />
        
        <h2 class="sidelink menuheader">
          <a id="sitemenu" name="sitemenu"></a>Goings on:
        </h2>
        
        <a class="sidelink" href="/nexml/html/index/wiki/">Wiki</a> 
        <span class="hide">|</span>
        
        <a class="sidelink" href="/nexml/html/index/mail/">Mailing list</a>
        <span class="hide">|</span> 
        
        <a class="sidelink" href="/nexml/html/index/svn/">SVN repository</a> 
        <span class="hide">|</span>

        <a class="sidelink" href="/nexml/html/index/tracker/">Issue tracker</a>
        <span class="hide">|</span>
           
        
        <a class="hide" href="#top" accesskey="1">Top of page</a>
        
        <!-- links at the bottom right -->
        <h3>
          External links
        </h3>
        <p>
          - <a href="http://sourceforge.net/projects/nexml/">
          SourceForge project page
          </a>
          <br />

          - <a href="http://www.nescent.org/wg_evoinfo/Future_Data_Exchange_Standard">
          EvoInfo wiki
          </a><br />
          
          - <a href="http://www.nescent.org">
          NESCent
          </a><br />

          - <a href="http://mesquiteproject.org">
          Mesquite
          </a><br />
        </p>
      </div>
      <div class="clear">
        &nbsp;
      </div>
    </div>
    <div id="footer">
      <p>
        &copy; 2007 <a href="http://rutgervos.blogspot.com" class="credit">Rutger Vos</a>. 
        Design by <a href="http://andreasviklund.com/" class="credit">Andreas Viklund</a> 
        of <a href="http://jokkmokk.biz/" title="ITUS Jokkmokk">Jokkmokk</a>.
      </p>
    </div>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-3174308-1";
    urchinTracker();
    </script>    
  </body>
</html>
