      </div>
      
      <div id="sidebar">
      
        <!-- top-right site navigation menu -->
        <h2 class="quicklinks">
          <a id="quicklinks" name="quicklinks"></a>Quick links:
        </h2>
          <a class="quicklink" href="/manual">Manual</a>
          <a class="quicklink" href="/nexml/html/doc/schema-1/">Schema documentation</a>
          <a class="quicklink" href="http://dx.doi.org/10.1093/sysbio/sys025">NeXML publication</a>
          <a class="quicklink" href="/nexml/examples">Example files</a>  
          <a class="quicklink" href="http://www.slideshare.net/rvosa/nexml-11158998">Slide show</a>      
        <br />
        <h2 class="sidelink menuheader">
          <a name="sitemenu"></a>Libraries:
        </h2>
        
        <a class="sidelink" href="/nexml/java/">Java</a> 
        <span class="hide">|</span>
        
        <a class="sidelink" href="/nexml/python/">Python</a>
        <span class="hide">|</span> 
        
        <a class="sidelink" href="/nexml/perl/">Perl</a> 
        <span class="hide">|</span>
        
		<a class="sidelink" href="/nexml/cpp/">C++</a> 
        <span class="hide">|</span>		
        
        <a class="sidelink" href="/nexml/javascript/">JavaScript</a> 
        <span class="hide">|</span> 
        
        <a class="sidelink" href="/nexml/ruby/">Ruby</a> 
        <span class="hide">|</span>
           
        
        <a class="hide" href="#top" accesskey="1">Top of page</a>
        
        <!-- links at the bottom right -->
        <h3>
          External links
        </h3>
        <ul>        
          <li class="external">
          	<a href="https://github.com/nexml" rel="nofollow">nexml@github</a>
          </li>
          <li class="external">
          	<a href="/manual">NeXML wiki</a>
          </li>
          <li class="external">
          	<a href="http://www.evolutionaryontology.org/" rel="nofollow">CDAO</a>
          </li>
		  <li class="external">
			<a href="http://evoinfo.nescent.org/PhyloWS" rel="nofollow">PhyloWS</a>
		  </li>
        </ul>
      </div>
      <div class="clear">
        &nbsp;
      </div>
    </div>
    <div id="footer">
      <p>
        Site implementation and technology:
        &copy; <a href="http://rutgervos.blogspot.com" class="credit">Rutger Vos</a>. 
        Site design: &copy; <a href="http://andreasviklund.com/" class="credit">Andreas Viklund</a> 
        of <a href="http://jokkmokk.biz/" title="ITUS Jokkmokk">Jokkmokk</a>.
      </p>
    </div>
    <!--
	    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
	    </script>
	    <script type="text/javascript">
	    _uacct = "UA-3174308-1";
	    urchinTracker();
	    </script>  
    -->  
  </body>
</html>
