<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <!-- site meta data -->  
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="NeXML is a file format for encoding phyloinformatic data using XML." />
        <meta name="keywords" content="NeXML, XML, NEXUS, phyloinformatics, phylogenetics, phylogenies, trees, dna, rna, nucleotide, standard, continuous, amino, acid, matrix, tree, network, data" />
        <meta name="author" content="Rutger Vos" />
        <meta name="robots" content="index,follow" />
        <meta name="verify-v1" content="mYceuNu58e0c0TNJ/gJ2NO63bxeH1nu28sZ2rtzcLoM=" />
        
        <!-- RSS feeds -->
        <link
          rel="alternate"
          type="application/rss+xml"
          title="nexml-discuss mailing list - RSS 2.0"
          href="http://mailbucket.org/nexml_discuss.xml"/>
        <link 
          rel="alternate" 
          type="application/rss+xml" 
          title="SourceForge project summary - RSS 2.0" 
          href="http://sourceforge.net/export/rss2_projsummary.php?group_id=209571"/>
        <link
          rel="alternate"
          type="application/rss+xml" 
          title="Wiki changes - RSS 2.0"
          href="https://www.nescent.org/wg/evoinfo/index.php?title=Future_Data_Exchange_Standard&amp;action=history&amp;feed=rss"/>
    
        <link
          rel="alternate"
          type="application/rss+xml"
          title="SVN revision history - RSS 2.0"
          href="<% paths.home('nexml.rss') %>"/>        
        
        <title><% title %></title>  
        <link rel="stylesheet" href="/nexml/html/include/style.css" type="text/css" />
        <link rel="stylesheet" href="/nexml/html/include/schema.css" type="text/css" />
        <style type="text/css">
            <!--
                <% FOREACH css = styleSheets %>
                    <% INCLUDE $css %>
                <% END %>
            -->
        </style>
        <script type="text/javascript" src="/nexml/html/include/functions.js"></script>
        <script type="text/javascript" src="/nexml/html/include/schema.js"></script>
        <% IF favicon %>
            <link rel="shortcut icon" href="<% favicon %>" />
        <% ELSE %>
            <link rel="shortcut icon" href="<% paths.strip(paths.include('favicon.ico')) %>" />
        <% END %>
    </head>
    <body>
    
    <!-- This heading is only here for text browsers without css -->
    <h1 class="hide"><% title %></h1>
    
    <div id="thetop">
      <a id="top" name="top"></a>
      <p class="hide">
        Skip to: 
        <a href="#sitemenu" accesskey="2">Site menu</a> |
        <a href="#maincontent" accesskey="3">Main content</a>
      </p>
    </div>
    
    <div id="container">
      <div id="main">

        <!-- main banner in the top-left -->
        <div id="logo">       
          <h1>
            [<a href="/" accesskey="4">NeXML</a>]
          </h1><span id="tagline">Rich phyloinformatic data</span>

        </div>
        
        <!-- site blurb in the top-middle -->
        <div id="intro">
          <h2>
            <a id="maincontent" name="maincontent"></a>
            The future data exchange standard is here!
          </h2>
          <p>
            NeXML is an exchange standard for representing 
            phyloinformatic data &mdash; inspired by the commonly used 
            NEXUS format, but more robust and easier to process.
          </p>
        </div>
        <div class="clear"></div>    
        
        <!-- validate form -->   
        <div id="validateDiv">
            <form 
                action="/nexml/phylows/validator" 
                enctype="multipart/form-data" 
                method="post" 
                id="validateForm">
                <fieldset id="validateFieldset">
                    <legend class="hide">Process nexml data</legend>
                    <select id="validateSelect">
                    	<option value="/nexml/phylows/validator">validate</option>
                    	<option value="/nexml/phylows/nex2xml">nexus -> nexml</option>
                    	<option value="/nexml/phylows/newick2xml">newick -> nexml</option>
                    	<option value="/nexml/phylows/xml2json">nexml -> json</option>
                    	<option value="/nexml/phylows/xml2rdf">nexml -> rdf</option>
                    </select>
                    <input type="file" name="file" id="validateUpload"/>
                    <input type="button" onclick="submitForm()" id="validateSubmit" value="Submit"/>
                </fieldset>
            </form>          
        </div>   
        
        <!-- main heading of this page -->
        <h3 class="headerstyle"><% mainHeading %></h3>
        
        <% INCLUDE 'breadCrumbs.tmpl' %>  
        
        <% README %>    
        
