<html>
    <head>
        <title>Schema module <% graphtype %>, clickable image map</title>
        <style type="text/css">
            img { border: 0 }
        </style>
    </head>
    <body>
        <a href="<% graphtype %>.map" target="nexml_site">
            <img ismap="ismap" src="<% graphtype %>.png">
        </a>
    </body>
</html>