<html>
    <head>
        <title>Schema module documentation, clickable image map</title>
        <style type="text/css">
            img { border: 0 }
        </style>
    </head>
    <body>
        <a href="inherit.map" target="nexml_site">
            <img ismap="ismap" src="inherit.png">
        </a>
    </body>
</html>