
/* 
	andreas03 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com 
	Free to use for any purpose as long as the proper credits are given to the original author.
	Version:1.2
	(Nov 28, 2005)
	Screen layout:
*/

body {    
    margin: 0;     
    padding: 30px 0;     
    font: 76% tahoma,verdana,sans-serif;     
    background: #047 url('/nexml/html/include/bodybg.png') repeat-x fixed;     
    color: #222
}

#thetop {    
    margin:0
}

#container {    
    width: 720px;     
    margin: 0 auto;     
    padding: 20px 20px 0 20px;     
    background: #fff url('/nexml/html/include/contbg.png') no-repeat;     
    color: #222
}

a {    
    text-decoration: none;     
    background-color: inherit;     
    color: #26c
}

a:hover {    
    text-decoration: underline
}

a img {    
    border: 0
}

p {    
    margin: 0 0 15px 0;     
    line-height: 1.5em
}

#main p, #sidebar p {    
    padding:0 0 0 10px
}

#logo {    
    float: left;     
    width: 240px;     
    margin: 0 20px 0 0;     
    padding: 0 0 25px 0;     
    background: #eee;     
    border: 4px solid #dde;     
    text-align: center;     
    color: #555;     
    overflow: auto
}

#logo h1 {    
    margin: 50px 5px 1px 5px;     
    letter-spacing: -3px
}

#logo a {    
    background-color: inherit;     
    color: #26a;     
    text-decoration: none
}

#logo a:hover {    
    background-color: inherit;     
    color: #69e
}

#tagline {    
    text-align: center;     
    font-size: 1.2em
}

#intro p {    
    line-height:1.5em
}

#main {    
    float: left;     
    width: 530px;     
    margin-right: 20px;     
    padding: 0
}

.headerstyle {    
    display: block;     
    margin: 20px 0 10px 0;     
    padding: 5px 0 5px 8px;     
    background: #eee url('/nexml/html/include/gradient2.png') repeat-x;     
    color: #222;     
    border-top: 1px solid #ddd;     
    border-right: 1px solid #bbb;     
    border-bottom: 1px solid #bbb;     
    border-left: 1px solid #ddd;     
    text-decoration: none
}

.plain {    
    display: block;     
    margin: 20px 0 10px 0;     
    padding: 5px 0 5px 8px;     
    color: #222;   
    text-decoration: none
}

#sidebar {    
    width: 155px;     
    float: right;     
    margin-top: 20px;     
    font-size: 1em;     
    line-height: 1.3em
}

#sidebar p {    
    font-size: 0.9em
}

.sidelink {    
    display: block;     
    width: 140px;     
    margin: 3px 10px 2px 0;     
    padding: 5px 0 5px 8px;     
    font-size: 1.1em;     
    font-weight: bold;     
    text-align: left;     
    background: #eee url('/nexml/html/include/gradient1.png') repeat-x;     
    color: #26c;     
    border-top: 1px solid #ddd;     
    border-right: 1px solid #bbb;     
    border-bottom: 1px solid #bbb;     
    border-left: 1px solid #ddd
}

.sidelink:hover, .menuheader {    
    background: #fff url('/nexml/html/include/gradient2.png') repeat-x;     
    color: #222;     
    border-top: 1px solid #ddd;     
    border-right: 1px solid #888;     
    border-bottom: 1px solid #888;     
    border-left: 1px solid #ddd;     
    text-decoration: none
}

#footer {    
    margin: 0 auto 20px auto;     
    width: 760px;     
    background: #fff url('/nexml/html/include/footerbg.png') bottom left no-repeat;     
    padding: 0 0 5px 0;     
    font-size: 0.9em;     
    color: #888;     
    text-align: center
}

h1, h2, h3, h4 {    
    margin: 0 0 10px 0;     
    font-weight: normal
}

h1 {    
    font-size: 2.8em
}

h2 {    
    margin: 0 0 4px 0;     
    font-size: 1.8em
}

h3 {    
    margin: 20px 0 8px 0;     
    font-size: 1.4em
}

h4 {    
    margin: 10px 0 5px 0;     
    font-size: 1.2em
}

h5 {    
    margin: 10px 0 5px 0;     
    font-size: 1em
}

li.rss, li.folder {    
    margin-bottom: 2em;  
    line-height: 1.5em
}

li.folder {
    list-style-image: url('/nexml/html/include/folder.png');  
}

li.rss {
    list-style-image: url('/nexml/html/include/resultset_next.gif');  
}

li.external {    
    list-style-image: url('/nexml/html/include/resultset_next.gif')
}

.icon { 
    text-decoration: none;  
    border: none
}

img.app {
    vertical-align: text-top;
    float: left;
    padding-right: 20px;
    margin-top: 5px
}

.clear { 
    clear: both;  
    margin: 0
}

.right { 
    text-align: right
}

.internallink { 
    font-size: 0.9em;  
    text-align: center
}

.block { 
    padding: 20px;  
    background: #eee;  
    color: #222;  
    border: 2px solid #ddd
}

.credit { 
    color: #888;  
    background-color: inherit
}

.linkshare {
    padding-left: 10px !important;
    padding-bottom: 1em !important;
    vertical-align: middle !important
}

.linkshare > div, .linkshare > div > iframe, .s5 {
    display: inline !important
}

.date { 
    text-align: right;  
    display: block;
    color: #888;     
    font-size: 0.9em;     
    width: 50%;     
    clear: none;     
    float: right;
}

.hide {    
    display: none
}

#validateDiv {
    padding-top: 20px
}

#validateFieldset, .infoBox {
    border: 3px solid #FF9E78;
    background-color: #FDDCCF;
    margin: 0px;
    padding: 10px
}

.infoBox {
    margin: 10px;
    padding: 0px !important
}

.infoHeader {
    color:maroon;
    background-color:#FF9E78;
    padding:10px;
    font-weight: bold;
    vertical-align:middle
}

.infoContent {
    padding: 10px;
    overflow: auto
}

label {
    margin-right: 10px;
    font-weight: bold;
}

.quicklinks {
    display: block;     
    width: 136px;     
    margin: 3px 10px 2px 0;     
    padding: 5px 0 5px 8px;     
    font-size: 1.1em;     
    font-weight: bold;     
    text-align: left;
    border: 3px solid #FF9E78;
    background-color: #FDDCCF;    
}

.quicklink {
    font-weight: bold;
    color: #FF9E78;
    display: block;
    margin-left: 10px;
}

acronym {
	border-bottom: 1px dotted black
}

hr {
    border: 0;
    color: silver;
    background-color: silver;
    height: 1px;
}

div.directoryIndex {
    padding: 1em;
    font-size: 120% !important;
}

table#implementations td {
	padding-top: 1em;
	padding-right: 1em
}

/* 
	Original open source design by Andreas Viklund - http://andreasviklund.com 
	Released through OSWD.org 
*/


