<!-- TITLE: NeXML - phylogenetic data as xml -->
<!-- HEADING: Overview -->
<p>
    The <a rel="nofollow" href="http://www.citeulike.org/user/rvosa/article/2011773">
    NEXUS flat file format</a> is a commonly used syntax for
    phylogenetic data. Unfortunately, over time, non-compliant NEXUS implementations
    have overloaded the standard - which has caused various
    <a rel="nofollow" href="https://www.nescent.org/wg_evoinfo/NEXUS_Problems">
    problems</a>. Meanwhile, mature technologies around the
    <a rel="nofollow" href="http://www.w3.org/XML/">XML</a> standard have
    emerged. These technologies have the potential to greatly
    simplify and improve robustness in the processing of rich phylogenetic
	data. This website is the home for the community-driven NeXML project, which
	seeks to leverage XML technologies in the development of a data standard
	that translates NEXUS concepts into a syntax that is more easily validated
	and processed. This approach promises several advantages:
</p>
<ul>
<li class="rss">
    <strong>Syntax validation</strong> &mdash; some of the issues hampering
    interoperability are caused by the fact that no formal
    specification exists for NEXUS and other flat files, and no unambiguous way
    to validate them. Using <a rel="nofollow" href="http://www.w3.org/XML/Schema">
    XML Schema</a> we have defined a versioned grammar against which
    data files can be validated syntactically. In addition, this website has a validation
    service (the orange box in the center of every page) that also checks the semantics
    of uploaded NeXML files beyond ways that can be expressed in XSD schema language.
</li>
<li class="rss">
	<strong>Semantic annotation</strong> &mdash; an issue in current file
	formats is that their semantics are not well-defined. For example, what does
	it mean to use an ambiguity code in a matrix? Is it uncertainty or polymorphism?
	With the wider <a rel="nofollow" href="https://www.nescent.org/wg_evoinfo/">
    EvoInfo working group</a> we are developing an <a href="http://www.evolutionaryontology.org">
    ontology</a> on which we are mapping NeXML schema types so that the semantics
    of data files become well-defined. In addition, NeXML has a facility for
	annotating fundamental phylogenetic data objects (such as trees, character
	state matrices and taxa) with ontology predicates and objects using
	<a href="http://www.w3.org/TR/xhtml-rdfa-primer/">RDFa</a>.
</li>
<li class="rss">
    <strong>Web services</strong> &mdash; a number of different
    technologies (such as <a rel="nofollow" href="http://www.xmlrpc.com/">XML-RPC</a>,
    <a rel="nofollow" href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST</a>
    and <a rel="nofollow" href="http://www.w3.org/TR/soap/">SOAP</a>) have
    emerged allowing disparate, xml-based services to be glued together
    over the internet. For example, the
	<a href="http://evoinfo.nescent.org/PhyloWS" rel="nofollow">PhyloWS</a>
	initiative seeks to develop conventions for RESTful phylogenetic web
	services for which NeXML is one of the preferred response formats.
</li>
<!--li class="rss">
    <strong>Native XML databases</strong> &mdash; relational
    databases are based on a fixed schema. For phylogenetic
    data this poses problems, because the field of phyloinformatics
    moves very rapidly: new metrics and analysis types are
    published constantly.
    <a rel="nofollow" href="http://xmldb-org.sourceforge.net/">XML databases</a>
    are freed from this constraint, simplifying storage of
    unusual data types.
</li-->
</ul>
<p>
    Because of the advantages of NeXML over current standards, developers of phylogenetic 
    software have come together as part of the <a href="http://www.nescent.org">
    NESCent</a> working group for <a href="https://www.nescent.org/wg_evoinfo">
    evolutionary informatics</a> to develop this
    <a href="/manual">
    new data exchange standard</a> based on XML technologies.
</p>
<p>
	<strong>We have recently published a description of NeXML in <em>Systematic
    Biology</em>. If you use NeXML in your research, please consider citing
    <a href="http://dx.doi.org/10.1093/sysbio/sys025">doi:10.1093/sysbio/sys025</a></strong>
</p>
<p class="internallink">

  [ <a href="#top">Back to top</a> ]
</p>
<h3 class="headerstyle">
    What are we doing about it?
</h3>
<p>
    NeXML development is being undertaken along a number of tracks:
</p>
<ul>
    <li class="rss">
        In the first place, there's an XML schema. This
        schema (currently designated as namespace http://www.nexml.org/2009)
        is explained on our
        <a href="/manual">wiki</a> and
		<a href="/nexml/html/doc/schema-1/">formally
		documented</a>; the latest version is available from 
		<a href="https://github.com/nexml/nexml/tree/master/xsd">git</a>;
        the <a href="/nexml/xsd">source code can be browsed</a> on our
        site.
    </li>
    <li class="rss">
        Secondly, the community is implementing NeXML read and/or write abilities in a
		number of software applications:<br/>
        <table id="implementations">
			<tr>
				<td>
			        <img alt="TreeBASE" src="<% paths.strip(paths.include('treebase.jpg')) %>"/>
			    </td>
			    <td>
			        <a href="http://www.treebase.org">
			        TreeBASE</a> supports serialization to NeXML.<br/>
			    </td>
			</tr>			
        	<tr>
        		<td>
			        <img alt="Mesquite" src="<% paths.strip(paths.include('mesquite.gif')) %>"/>
        		</td>
        		<td>
			        The <a href="http://mesquiteproject.org">Mesquite</a> project
					supports <a href="http://nexml-dev.nescent.org/nexml/java/">reading
					and writing</a> of NeXML. Wayne Maddison and Peter Midford
					helped start an implementation for this that is currently being
					maintained by Rutger Vos.<br/>
				</td>
			</tr>
        	<tr>
        		<td>
	        		<img alt="DAMBE" src="<% paths.strip(paths.include('dambe.gif')) %>"/>
        		</td>
        		<td>			        
			        Xuhua Xia's <a href="http://dambe.bio.uottawa.ca/dambe.asp">DAMBE</a>
					version 5.2.31 for Windows Vista/7 reads and writes NeXML
					data.<br/>
        		</td>
        	</tr>
			<tr>
				<td>
			        <img alt="PhenoScape" src="<% paths.strip(paths.include('phenoscape_logo.jpg')) %>"/>
			    </td>
			    <td>
			        The <a href="http://www.phenoscape.org">PhenoScape</a> 
			        project uses NeXML to annotate complex morphological character
			        states with ontology terms in its
					<a href="http://phenoscape.org/wiki/Phenex">Phenex editor</a>.<br/>
			    </td>
			</tr>			
        	<!--tr>
        		<td>
			        <img alt="R" src="<% paths.strip(paths.include('Rlogo.jpg')) %>"/>
			    </td>
			    <td>
			        The <a href="https://r-forge.r-project.org/projects/phylobase/">
			        phylobase</a> package for <a rel="nofollow" href="http://www.r-project.org/">
			        R</a> reads and writes tree descriptions, with character matrices under way. 
			        This implementation is being developed by Aaron Mackey.<br/>
			    </td>
			</tr-->
			<tr>
				<td>
			        <img alt="DendroPy" src="<% paths.strip(paths.include('dendropy1.png')) %>"/>
			    </td>
			    <td>
			        Jeet Sukumaran has implemented NeXML I/O for python in the 
			        <a href="http://packages.python.org/DendroPy">DendroPy</a> package.
					There are many DendroPy
					<a href="http://nexml.org/manual">code samples</a>
					for dealing with NeXML data in the wiki manual.<br/>
			    </td>
			</tr>
			<tr>
				<td>
			        <img alt="BioPerl" src="<% paths.strip(paths.include('BioPerlLogo.png')) %>"/>
			    </td>
			    <td>
			        Chase Miller has implemented
					<a href="http://doc.bioperl.org/releases/bioperl-current/bioperl-live/Bio/NexmlIO.html">Bio::NexmlIO</a> for
			        <a href="http://www.bioperl.org">BioPerl</a>, which under
					the hood reuse Rutger Vos's
			        <a href="http://search.cpan.org/dist/Bio-Phylo/">Bio::Phylo</a>
			        parser libraries.<br/>
			    </td>
			</tr>
			<tr>
				<td>
			        <img alt="BioRuby" src="<% paths.strip(paths.include('bioruby-gem.png')) %>"/>
			    </td>
			    <td>
			        Anurag Priyam and Rutger Vos have developed a 
			        <a href="http://rubygems.org/gems/bio-nexml">NeXML I/O plugin</a>
			        for the
			        <a href="http://www.bioruby.org">
			        BioRuby</a> open source bioinformatics library for Ruby.<br/>
			    </td>
			</tr>
			<tr>
				<td>
			        <img alt="ETE" src="<% paths.strip(paths.include('ete_logo.png')) %>"/>
			    </td>
			    <td>
			        Jaime Huerta-Cepas' team is working on NeXML I/O for the
			        <a href="http://ete.cgenomics.org/">
			        ETE</a> Python environment for tree exploration.<br/>
			    </td>
			</tr>
			<tr>
				<td>
			        <img alt="mx" src="<% paths.strip(paths.include('mx_icon.png')) %>"/>
			    </td>
			    <td>
			        Matt Yoder has implemented NeXML serialization for the
			        <a href="http://hymenoptera.tamu.edu/wiki/index.php/Main_Page">
			        mx</a> collaborative web-based content management system for evolutionary 
			        systematists.<br/>
			    </td>
			</tr>
			<tr>
				<td>
			        <img alt="PhyloBox" src="<% paths.strip(paths.include('phylobox.jpg')) %>"/>
			    </td>
			    <td>
			        Andrew Hill has added NeXML support to 
			        <a href="http://phylobox.appspot.com/">
			        PhyloBox</a>.<br/>
			    </td>
			</tr>			
			<tr>
				<td>
			        <img alt="jsPhyloSVG" src="<% paths.strip(paths.include('jsphylosvg.png')) %>"/>
			    </td>
			    <td>
			        Sam Smits has made it so that the 
			        <a href="http://www.jsphylosvg.com">
			        jsPhyloSVG</a> tree visualization widget can now show NeXML trees.<br/>
			    </td>
			</tr>
			<tr>
				<td>
			        <img alt="NamesOnNodes" src="<% paths.strip(paths.include('namesonnodes.png')) %>"/>
			    </td>
			    <td>
			        Mike Keesey has added NeXML support to <a href="http://namesonnodes.org/">Names On Nodes</a>,
					a web application that automatically applies biological nomenclature to datasets.
			    </td>
			</tr>
			<tr>
				<td>
			        <img alt="DendroScope" src="<% paths.strip(paths.include('dendroscope.jpg')) %>"/>
			    </td>
			    <td>
			        Daniel Huson's <a href="http://ab.inf.uni-tuebingen.de/software/dendroscope/">DendroScope</a>
			        development team has adopted NeXML as its primary file format for storing visualization (styling)
					metadata. However, at present, its implementation is <strong>not</strong> fully
					compliant so should not be taken as a template to generate NeXML output.
			    </td>
			</tr>			

			<tr>
				<td>
			        <img alt="phyloGeoRef" src="<% paths.strip(paths.include('phylogeoref.jpg')) %>"/>
			    </td>
			    <td>
			        For the 2011 Google Summer of Code, Apurv Verma has added
					NeXML reading capability to
					<a href="https://github.com/kdiverson/phyloGeoRef">phyloGeoRef</a>.<br/>
			    </td>
			</tr>						
			<tr>
				<td>
			        <img alt="HIVQuery" src="<% paths.strip(paths.include('hivq.jpg')) %>"/>
			    </td>
			    <td>
			        Mark Jensen has implemented NeXML compatability for the
			        <a href="http://fortinbras.us/">HIVQuery</a> web
			        application.<br/>
			    </td>
			</tr>			
    	</table>
    </li>
    <li class="rss">
        Third, we're crossreferencing the NeXML schema with the
        <a rel="nofollow" href="http://www.evolutionaryontology.org">Character Data Analysis Ontology</a>
        which is being developed by other members of the EvoInfo working group.
    </li>
</ul>
<p class="internallink">
  [ <a href="#top">Back to top</a> ]
</p>
<h3 class="headerstyle">
  Get involved!
</h3>
<p>
  If you are interested in being involved in the NeXML project
  in any way, please do! Here are some ways to get involved:
</p>
<ul>
	<li class="rss">
		<strong>Get informed</strong> &mdash; information about the NeXML
		project is distributed over the <a href="/manual">manual</a>
		(for an overview of vision, plans, implementation),
		<a href="/nexml/html/doc/schema-1/">documentation</a>
		(for formal description of the schema) and the
		<a href="https://lists.sourceforge.net/lists/listinfo/nexml-discuss">mailing list</a>
		(for immediate plans and discussion).
	</li>
	<li class="rss">
		<strong>Try it out</strong> &mdash; the download section of the
		website has nightly builds of bindings for various languages.
		Take these for a spin!
	</li>
	<li class="rss">
		<strong>Contribute</strong> &mdash; if you are a programmer interested
		in extending NeXML support, please contact us through the mailing
		list to get commit support for the subversion repository.
	</li>
</ul>
<p class="internallink">
  [ <a href="#top">Back to top</a> ]
</p>
<h3 class="headerstyle">
	Acknowledgements
</h3>
<p>
	The research leading to these results has received funding from the [European
	Community's] Seventh Framework Programme ([FP7/2007-2013] under grant agreement
	n° [237046].
</p>
<p class="internallink">
  [ <a href="#top">Back to top</a> ]
</p>
<h3 class="headerstyle">
	Suggested citation
</h3>
<p>
	<strong>Rutger A. Vos, J. P. Balhoff, J. A. Caravas, M. T. Holder, H. Lapp, P. E. 
	Midford, A. Priyam, J. Sukumaran, X. Xia, and A. Stoltzfus</strong>. 2012. NeXML: 
	rich, extensible, and verifiable representation of comparative data and metadata. 
	<em>Systematic Biology</em> <strong>61</strong>(4): 675-689 
	[<a href="http://dx.doi.org/10.1093/sysbio/sys025">doi:10.1093/sysbio/sys025</a>]
</p>
<p class="internallink">
  [ <a href="#top">Back to top</a> ]
</p>



